
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

.display {
  grid-column: 1 / -1;
  color: #fff;
  height : 1rem;
  width: 10rem;
  background-color: #000000;
  border: solid 4px #000;
  font-size: 2rem;
  padding: 1rem;
  text-align: right;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  background-color: #ffffff;
  font-size: 20px;
}

button:hover {
  background-color: #d3cdcd;
}

.operator {
  background-color: #5eff00;
  color: #fff;
  font-weight: 700;
}

.clear {
  background-color: #ff0000;
  
  color: #fff;
  font-weight: 700;
}